In [1]:
names = ['John', 'Paul', 'George', 'Ringo']

In [2]:
students =[
    {'name': 'John', 'age': 25, 'grade': 88},
    {'name': 'Paul', 'age': 22, 'grade': 92},
    {'name': 'George', 'age': 21, 'grade': 95},
    {'name': 'Ringo', 'age': 23, 'grade': 90}
]

In [3]:
students

[{'name': 'John', 'age': 25, 'grade': 88},
 {'name': 'Paul', 'age': 22, 'grade': 92},
 {'name': 'George', 'age': 21, 'grade': 95},
 {'name': 'Ringo', 'age': 23, 'grade': 90}]

In [4]:
students[0]

{'name': 'John', 'age': 25, 'grade': 88}

- Object Oriented Principal
    - Encapsulation
    - Abstraction
    - Inheritance

In [13]:
class Student:
    def __init__(self, name, age, grade):
        self.name = name
        self.age = age
        self.grade = grade

    def __repr__(self):
        return self.name

In [14]:
students = [
    Student('John', 25, 88),
    Student('Paul', 22, 92),
    Student('George', 21, 95),
    Student('Ringo', 23, 90)
]

In [17]:
students[0]

John

In [18]:
class Mobile:
    def __init__(self, nm, brnd, price, ram, camera):
        self.name = nm
        self.brand = brnd
        self.price = price
        self.ram = ram
        self.camera = camera

    def __repr__(self) :
        return self.name
    
    def info(self):
        print(f'Name: {self.name}')
        print(f'Brand: {self.brand}')
        print(f'Price: {self.price}')
        print(f'RAM: {self.ram}')
        print(f'Camera: {self.camera}')

In [19]:
m1 = Mobile('Redmi Note 9 Pro', 'Xiaomi', 15000, '6GB', '48MP')
m2 = Mobile('iPhone 11', 'Apple', 80000, '4GB', '12MP')
m3 = Mobile('Galaxy M31', 'Samsung', 20000, '6GB', '64MP')
mobiles = [m1, m2, m3]
print(mobiles)

[Redmi Note 9 Pro, iPhone 11, Galaxy M31]

In [20]:
for item in mobiles:
    print(item)

Redmi Note 9 Pro
iPhone 11
Galaxy M31

In [22]:
for item in mobiles:
    print(item.name, item.brand)

Redmi Note 9 Pro Xiaomi
iPhone 11 Apple
Galaxy M31 Samsung

In [23]:
for item in mobiles:
    item.info()

Name: Redmi Note 9 Pro
Brand: Xiaomi
Price: 15000
RAM: 6GB
Camera: 48MP
Name: iPhone 11
Brand: Apple
Price: 80000
RAM: 4GB
Camera: 12MP
Name: Galaxy M31
Brand: Samsung
Price: 20000
RAM: 6GB
Camera: 64MP

# Inheritance

In [1]:
class Person:
    def __init__(self, name, gender="female", age=21):
        self.name = name
        self.age = age
        self.gender = gender

    def __repr__(self):
        return self.name

In [3]:
p1 = Person('Abhishek', age=25, gender='male')
p1

Abhishek

In [6]:
class Politician(Person):
    def __init__(self, name, age, gender, pp, exp, area, designation):
        super().__init__(name, age, gender)
        self.party = pp
        self.experience = exp
        self.area = area
        self.designation = designation

In [7]:
p2 = Politician('Priyanshu', 24, 'male', 'BJP', 2, 'Bihar', 'MLA')
p2

Priyanshu

In [16]:
from dataclasses import dataclass

@dataclass
class Product:
    name: str
    price: float
    quantity: int

In [17]:
products = [
    Product('Laptop', 1000, 5),
    Product('Mouse', 50, 10),
    Product('Keyboard', 100, 8)
]
products

[Product(name='Laptop', price=1000, quantity=5),
 Product(name='Mouse', price=50, quantity=10),
 Product(name='Keyboard', price=100, quantity=8)]

In [18]:
@dataclass
class Polygon:
    sides: int
    length: float

    def perimeter(self):
        return self.sides * self.length

In [19]:
p = Polygon(4, 5)
p2 = Polygon(3, 10)
print(p.perimeter())
print(p2.perimeter())

20
30

In [21]:
x = [1, 2, 3, 4, 5]
y = [2, 4, 6, 8, 10]
# x.sum()
# x.mean()

In [22]:
class Slist(list):
    def sum(self):
        return sum(self)
    
    def mean(self):
        return sum(self) / len(self)

In [24]:
x = Slist([1, 2, 3, 4, 5])
y = Slist([2, 4, 6, 8, 10])

print(x.sum())
x.append(100)
print(x.sum())
print(x.mean())

15
115
19.166666666666668