In [1]:
student = {
    'name': 'John Cena',
    'class': '2nd',
    'rollno': 21,
    'marks': 90
}
print(student)

{'name': 'John Cena', 'class': '2nd', 'rollno': 21, 'marks': 90}

In [4]:
print(student['name'])
print(student['class'])

John Cena
2nd

In [6]:
print(student.get('name'))
print(student.get('class'))
print(student.get('english'))

John Cena
2nd
None

In [8]:
# add a new entry
student['school'] = 'CMS'
student['father'] = 'Raja babu'
print(student)

{'name': 'John Cena', 'class': '2nd', 'rollno': 21, 'marks': 90, 'school': 'CMS', 'father': 'Raja babu'}

In [10]:
# update an entry
student['class'] = '3rd class'

print(student)

{'name': 'John Cena', 'class': '3rd class', 'rollno': 21, 'marks': 90, 'school': 'CMS', 'father': 'Raja babu'}

In [11]:
series = {
    'title':'Person of Interest',
    'total_seasons':5,
    'cast': ['Jim  Caviezel', 'others'],
    'ott':'Amazon Prime',
    'rating': 9.8
}

In [12]:
for key in series:
    print(key)

title
total_seasons
cast
ott
rating

In [13]:
for key in series:
    print(key, series[key])

title Person of Interest
total_seasons 5
cast ['Jim  Caviezel', 'others']
ott Amazon Prime
rating 9.8

In [14]:
for k, v in series.items():
    print(k, v)

title Person of Interest
total_seasons 5
cast ['Jim  Caviezel', 'others']
ott Amazon Prime
rating 9.8

In [15]:
for v in series.values():
    print(v)

Person of Interest
5
['Jim  Caviezel', 'others']
Amazon Prime
9.8

In [16]:
print(series.keys())
print(series.values())
print(series.items())

dict_keys(['title', 'total_seasons', 'cast', 'ott', 'rating'])
dict_values(['Person of Interest', 5, ['Jim  Caviezel', 'others'], 'Amazon Prime', 9.8])
dict_items([('title', 'Person of Interest'), ('total_seasons', 5), ('cast', ['Jim  Caviezel', 'others']), ('ott', 'Amazon Prime'), ('rating', 9.8)])

In [17]:
series.pop('ott')

'Amazon Prime'